.loader {
  display: block;
  width: 100%;
  border-radius: 30px;
  position: relative;
  height: 4px;
}

.loader::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
